.contact-section {
    .contact-information {
        .contact-info {
            width: 24px;
            height: 20px;
        }
    }

    .social-icons {
        .social-icon {
            width: 42px;
            height: 42px;
            border: 1px solid rgba($color: $color-808080, $alpha: 0.55);

            .social-img {
                height: 18px;
            }
        }
    }
}