#blogContainer,
.recent-blog-slider,
.recent-service-slider,
.blog-slider {
    .slick-list {
        margin-left: -8px;
        margin-right: -8px;

        .slick-slide {
            padding-left: 8px;
            padding-right: 8px;
        }
    }
}

#blogContainer,
.recent-service-slider,
.blog-slider {
    .slick-list {
        overflow: visible;
    }
}

.recent-blog-slider {
    .slick-list {
        @include media-breakpoint-down(lg) {
            overflow: visible;
        }
    }
}

.recent-service-slider {
    height: 400px;

    @include media-breakpoint-down(lg){
        height: 245px;
    }

    .slick-list,
    .slick-track,
    .slick-slide {
        height: 100%;
    }

    .slick-slide {
        div {
            height: 100%;
        }
    }
}

.service-dots,
.recent-dots,
.blog-dots {
    ul {
        display: flex;
        padding-left: 0px;
        margin-bottom: 0px;
        @include media-breakpoint-down(lg){
            justify-content: center;
        }

        li {
            margin-left: 8px;

            &::marker {
                font-size: 0px;
                display: none;
            }

            &::after {
                content: "";
                width: 8px;
                height: 8px;
                background-color: rgba($color: $black, $alpha: 0.2);
                display: flex;
                border-radius: 50%;
            }

            &.slick-active {
                &::after {
                    background-color: rgba($color: $black, $alpha: 1);
                }
            }

            button {
                display: none;
            }
        }
    }
}